/.cache
/build/ 
/subprojects/*
!/subprojects/.gitignore
!/subprojects/*.wrap
!/subprojects/packagefiles/
*.autogen.*
*.autofrag.*
/node_modules/
/private/
/logs/
/.flatpak-builder/
/.vscode/

# Contains variables specific for the user
/docker/.env
