name: build and test
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

on:
  push:
    branches: [ master ]
    paths:
    - '**'
    - '!**.yml'
    - '!docs/**'
    - '!docker/**'
    - '!**.md'
    - '**/build.yml'
  pull_request:
    branches: [ master ]
    paths:
    - '**'
    - '!**.yml'
    - '!docs/**'
    - '!docker/**'    
    - '!**.md'
    - '**/build.yml'

jobs:
  meson:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
    runs-on: ${{ matrix.os }}
    env:
      CC: clang-19
      CXX: clang++-19
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        if [ "${{ contains(matrix.os, 'ubuntu') }}" = "true" ]; then
          sudo apt update
          curl -fsSL https://bun.sh/install | bash
          echo "PATH=$HOME/.bun/bin:$PATH" >> $GITHUB_ENV
          sudo apt update
          sudo apt remove -y firefox
          sudo apt upgrade -y
          sudo apt install -y \
            freeglut3-dev \
            libpng-dev \
            libsqlite3-0 \
            python3-pip \
            python3-setuptools
          python3 -m pip install meson ninja
          python3 -m pip uninstall cmake
          python3 -m pip install cmake==3.30.5 # workaround https://github.com/mesonbuild/meson/issues/13888
          # for clang
          sudo apt install -y wget gpg gnupg software-properties-common
          curl -LO https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 19 # install clang-19
        else
          brew update
          brew install meson ninja
        fi

    - name: Configure and build
      run: |
        cmake --version
        bun install
        bun run codegen
        bun run meson-setup.clang-release
        meson compile -C build/ vs:executable

  macos:
    runs-on: macos-14
    env:
      LDFLAGS: '-L/opt/homebrew/opt/llvm/lib'
      CPPFLAGS: '-I/opt/homebrew/opt/llvm/include'
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        curl -fsSL https://bun.sh/install | bash
        PATH=$HOME/.bun/bin:$PATH
        brew update
        brew install \
          llvm@19 \
          freeglut \
          libpng \
          meson \
          ninja
        PATH=/opt/homebrew/opt/llvm/bin:$PATH
        echo "PATH=$PATH" >> $GITHUB_ENV

    - name: Configure and build
      run: |
        cmake --version
        bun install
        bun run codegen
        bun run meson-setup.clang-release
        meson compile -C build/ vs:executable

