name: build and test
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

on:
  push:
    branches: [ master ]
    paths:
    - '**'
    - '!**.yml'
    - '!docs/**'
    - '!**.md'
    - '**/build.yml'
  pull_request:
    branches: [ master ]
    paths:
    - '**'
    - '!**.yml'
    - '!docs/**'
    - '!**.md'
    - '**/build.yml'

jobs:
  meson:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04]
    runs-on: ${{ matrix.os }}
    env:
      CC: clang-19
      CXX: clang++-19
    steps:
    - uses: actions/checkout@v4
    - name: Install dependencies
      run: |
        if [ "${{ contains(matrix.os, 'ubuntu') }}" = "true" ]; then
          sudo apt update
          curl -fsSL https://bun.sh/install | bash
          echo "PATH=$HOME/.bun/bin:$PATH" >> $GITHUB_ENV
          sudo apt update
          sudo apt remove -y firefox
          sudo apt upgrade -y
          sudo apt install -y \
            freeglut3-dev \
            libsqlite3-0 \
            libtcc-dev \
            python3-pip \
            python3-setuptools
          python3 -m pip install meson ninja
          # for clang
          sudo apt install -y wget gpg gnupg software-properties-common
          curl -LO https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 19 # install clang-19
        else
          brew update
          brew install meson ninja
        fi

    - name: Configure and build
      run: |
        bun install
        bun run codegen
        bun run meson-setup.clang-release
        bun run vs.example
